<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="qv_user_manager.ServiceKeyBehaviorExtensionElement, qv-user-manager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior/>
          </behavior>
        </endpointBehaviors>
      </behaviors>

        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4799/QMS/Service" behaviorConfiguration="ServiceKeyEndpointBehavior"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMS"
                contract="QMSAPI.IQMS" name="BasicHttpBinding_IQMS" />
            <endpoint address="http://localhost:4799/ANY/Service" behaviorConfiguration="ServiceKeyEndpointBehavior"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQTService"
                contract="QMSAPI.IQTService" name="BasicHttpBinding_IQTService" />
        </client>
    </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
